:root {
    --main-color: #fa824e;
}

body {
    margin: 0;
    overflow-x: hidden; /* Ensure no overflow on the x-axis */
    background-color: black;
    font-family: Arial, sans-serif;
    height: 100%; /* Set height for scrolling */
}

canvas {
    display: block;
    position: fixed; /* Fixed to stay in the background */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Keep it behind all content */
}

nav a {
    color: white;
}

/* Hero section styling */
.hero-section {
    position: relative;
    z-index: 1; /* Ensure it stays above the canvas */
    margin-top: 4rem; /* Adjust to account for the fixed navbar */
    padding: 2rem; /* Add padding for spacing */
    min-height: 100vh; /* Ensure it covers the full viewport height */
}

h1, h2, img {
    z-index: 1;
}

h1 {
    font-family: space-cursaders;
    padding-right: 7rem;
}

.button-container:hover .button-border {
    width: 100%;
    height: 100%;
    opacity: 1;
}
.button-border {
    transition: all 0.3s ease-in-out;
}
.button-container:hover button {
    color: var(--main-color);
}

/* About Us Section */
.about-section {
    position: relative;
    z-index: 1; /* Ensure it is above the canvas */
    padding: 4rem 8rem; /* Add padding for spacing */
    display: flex; /* Flexbox for layout */
    justify-content: space-between;
    color: white; /* Text color */
}

.about-section h1 {
    color: var(--main-color);
}

.about-us {
    position: relative; 
}

.about-us::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 5px; 
    background-color: white;
    transition: width 0.3s ease; 
}    

.about-us:hover::after {
    width: 39%; 
}

.aboutPara {
    font-size: 30px;
}

.aboutImage {
    min-width: 40rem;
    display: flex;
}


.card {
    transition: all 0.3s ease; 
}

.card:hover {
    transform: scale(1.05); 
    background: linear-gradient(45deg, #fa824e, #ff7e57); 
    color: black; /* Change text color to black */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); /* Adds a subtle shadow for depth */
    border: none; /* Remove the border for a cleaner look */
}

.domains-section h1 {
    font-size: 5rem; /* Increase the size of the Domains heading */
}

.domains-section h1 {
    font-size: 5rem; /* Increase the size of the Domains heading */
}
.domains-section p{
    font-size: 1.3rem;
}
.domains-section h2 {
    font-size: 1.6rem;
}
