:root {
    --main-color: #fa824e;
}

body {
    margin: 0;
    overflow-x: hidden; 
    background-color: black;
    font-family: Arial, sans-serif;
    height: 100%; 
}

canvas {
    display: block;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

nav a {
    color: white;
}


.hero-section {
    position: relative;
    z-index: 1; 
    margin-top: 4rem; 
    padding: 2rem; 
    min-height: 100vh; 
}

h1, h2, img {
    z-index: 1;
}

h1 {
    font-family: space-cursaders;
    padding-right: 7rem;
}

.button-container:hover .button-border {
    width: 100%;
    height: 100%;
    opacity: 1;
}
.button-border {
    transition: all 0.3s ease-in-out;
}
.button-container:hover button {
    color: var(--main-color);
}


.about-section {
    position: relative;
    z-index: 1; 
    padding: 4rem 8rem; 
    display: flex; 
    
    color: white; 
}

.about-section h1 {
    color: var(--main-color);
}

.about-us {
    position: relative; 
}

.about-us::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 5px; 
    background-color: white;
    transition: width 0.3s ease; 
}    

.about-us:hover::after {
    width: 39%; 
}

.aboutPara {
    font-size: 30px;
}

.aboutImage {
    min-width: 40rem;
    display: flex;
}


.card {
    background-color: rgba(255, 255, 255, 0.15); 
    color: white; 
    border: 1px solid rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
    transition: all 0.3s ease; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.card:hover {
    transform: scale(1.05); 
    background: linear-gradient(45deg, rgba(250, 130, 78, 0.8), rgba(255, 126, 87, 0.8)); 
    color: black; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); 
    border: none; 
}



.domains-section h1 {
    font-size: 5rem; 
}

.domains-section h1 {
    font-size: 5rem; 
    display: flex;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
}
.domains-section p{
    font-size: 1.3rem;
}
.domains-section h2 {
    font-size: 1.6rem;
}

.domains-section h1 {
    position: relative;
    color: var(--main-color);
}

.domains-section h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 5px;
    background-color: white;
    transition: width 0.3s ease;
}

.domains-section h1:hover::after {
    width: 100%;
}